#scratch-line-container {
    display: flex;
    flex-direction: column;
    width: 712px;
    margin: 10px 0 10px 50px;
    border: 1px solid black; 
    color: black;
}

#scratch-line {
    width: 700px;;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: #FCA577;
}

.scratch-dots-container {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    padding: 5px;
    margin: 0 50px;
    border: 1px solid black;
    background-color: #FCA577;
    border: 1px solid black;
}

.scratch-dot {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color: #FC8E77;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#scratch-fees {
    display: flex;
    width: 712px;
    margin-left: 50px;
    justify-content: space-around;
}

p {
    font-size: 0.8rem;
    font-weight: 800
}



