#position-container {
    display: flex;
    flex-direction: column;
    width: 512px;
    margin: 10px 0 10px 50px;
    border: 1px solid black;
}

#position {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    padding: 5px;
    margin: 0 50px;
    border: 1px solid black;
     background-color: #FC8E77;
}

.position-number {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #FC8E77;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
