#game-board {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    padding: 5px;
    margin: 0 50px;
    border: 1px solid black;
    background-color: #FCA577;
}

.cell {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color: #FC8E77;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dot {
    background-color: black;
    width: 5px;
    height:5px;
    border-radius: 50%;
}