#game {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150vh;
  border: 1px solid black;

}

.button {
  padding: 5px 10px;
  font-size: 1rem;
  font: 800;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background: #009dd1;
  color: white;
}

.button:active {
  background-color: #97e7f5;
  color: black;
  transform: translateY(2px) scale(0.90);
}


